[Desktop Entry]
Name=PockIt
GenericName=PockIt
Comment=Unofficial Native Pocket Client
Exec=pockit
Icon=${SNAP}/meta/gui/pockit.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility
